.title {
    text-transform: uppercase;
    margin: 0;
}

.year {
    margin-right: .5rem;
    font-weight: bold;
}

.genre {
    font-style: italic;
}

.rating {
    margin: .5rem 0;
    &__description {
        display: block;
        text-align: right;
        font-size: .5rem;
        flood-color: rgba(0,0,0,.5);
    }
}

.plot {
    position: relative;
    font-size: 1.4rem;
    font-style: italic;
    padding-left: 1rem;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: .25rem;
        height: 100%;
        background-color: var(--primary);
    }
}

.headline {
    background-color: rgba(0,0,0,.03);
    padding: .25rem .5rem;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: .25rem;
}

.credits {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.credit {
    display: flex;
    &__title {
        font-weight: bold;
        margin-right: 1rem;
        &::after {
            content: ":"
        }
    }
}

.votes {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}