.container {
    max-width: 15vmax;
    min-width: 15vmax;
    height: 22vmax;
    margin: 1rem;
}

.description {
    top: unset;
    background-color: white;
    .title {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.background {
    height: 100%;
    object-fit: cover;
    object-position: top;
}